[Desktop Entry]
Name=Volumeicon
GenericName=Volume Control
Exec=/usr/bin/volumeicon
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
