/*
!.gitignore
!.gitconfig
!.zshenv
!.zshrc
!.tmux.conf
!.gtkrc-2.0
!.Xresources
!.alsoftrc
!.asoundrc
!bin/

# Vim
!.vimrc
!.vim/
.vim/*
!.vim/colors/
!.vim/autoload/
.vim/autoload/*
!.vim/autoload/airline/
.vim/autoload/airline/*
!.vim/autoload/airline/themes/
.vim/autoload/airline/themes/*
!.vim/autoload/airline/themes/nord.vim

# Compton
!.config/
.config/*
!.config/compton.conf

# Terminator
!.config/terminator/

# Weechat
!.weechat/
.weechat/*
!.weechat/weechat.conf
!.weechat/buffers.conf

# Notification themes
!.themes/
.themes/*
!.themes/Fjord/

