/*
!.gitignore
!.gitconfig
!.zshenv
!.zshrc
!.gtkrc-2.0
!.Xresources
!.alsoftrc
!.asoundrc
!bin/

!.vimrc
!.vim/
.vim/*
!.vim/colors/
!.vim/autoload/
.vim/autoload/*
!.vim/autoload/airline/
.vim/autoload/airline/*
!.vim/autoload/airline/themes/
.vim/autoload/airline/themes/*
!.vim/autoload/airline/themes/nord.vim

!.config/
.config/*
!.config/compton.conf
