[Unit]
Description=Pushtray

[Service]
Type=simple
ExecStart=/usr/bin/pushtray connect --no-tray-icon --log=info
ExecStop=/usr/bin/pkill -f pushtray
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
