[user]
  name = Jatan Patel
  email = j@jatan.me
[alias]
  lg = log --color --graph --pretty=format:'%C(green)%h%Creset - %s %C(yellow)(%cr) %C(blue)(%an)%Creset %C(cyan)%d%Creset' --abbrev-commit --date=relative
  amend = commit --amend
  uncommit = reset --soft HEAD~
  recommit = reset 'HEAD@{1}'
  toplevel = rev-parse --show-toplevel
  aliases = !git config --get-regexp 'alias.*' | sed 's/^alias\\.//' | sed 's/[ ]/ = /' | sort
[color "diff"]
  meta = white ul
  frag = cyan 
  old = red
  new = green
[core]
  excludesfile = /home/J/.gitignore_global
